<%- include('../partials/header') %>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper bg-dark text-white">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Form Basic</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Edit SubCategory
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-container">
            <form class="form" method="post" action="" enctype="multipart/form-data">
              <label class="custum-file-upload" for="file" style="height: 250px; width: 100%;">
                <div class="icon">
                  <img src="/<%=product.image%>" alt="" style="height: 100px;">
                </div>
                <div class="text">
                  <span>Click to upload image</span>
                </div>
                <input type="file" id="file" name="image">
              </label>

              <div class="form-group">
                <label for="title">Name</label>
                <input type="text" id="title" name="name" value="<%= product.name %>" required>
              </div>
              <div class="form-group">
                <label for="title">Price</label>
                <input type="text" id="title" name="price" value="<%= product.price %>" required>
              </div>
                            <div class="form-group">
                <label>Category</label>
                <select name="category" id="categorySelect" class="form-select bg-dark text-white" required>
                  <option value="" disabled>-- Select Category --</option>
                  <% 
                    const currentCategoryId = product && product.category
                      ? (product.category._id ? product.category._id.toString() : product.category.toString())
                      : '';
                    categories.forEach(cat => {
                      const catId = cat._id ? cat._id.toString() : (cat.id ? cat.id.toString() : '');
                  %>
                    <option value="<%= catId %>" <%= catId === currentCategoryId ? 'selected' : '' %>><%= cat.name %></option>
                  <% }) %>
                </select>
              </div>

              <div class="form-group">
                <label>Subcategory</label>
                <select name="Subcategory" id="subcatSelect" class="form-select bg-dark text-white" required>
                  <option value="" disabled>-- Select Subcategory --</option>
                  <% 
                    const currentSubId = product && product.Subcategory
                      ? (product.Subcategory._id ? product.Subcategory._id.toString() : product.Subcategory.toString())
                      : '';
                    Subcategories.forEach(sub => {
                      const subId = sub._id ? sub._id.toString() : (sub.id ? sub.id.toString() : '');
                      const subCatId = sub.category && (sub.category._id ? sub.category._id.toString() : sub.category.toString());
                  %>
                    <option value="<%= subId %>" data-category="<%= subCatId %>" <%= subId === currentSubId ? 'selected' : '' %>><%= sub.name %></option>
                  <% }) %>
                </select>
              </div>

              <div class="form-group">
                <label>Extra Category</label>
                <select name="ExtraCategory" id="extraCatSelect" class="form-select bg-dark text-white" required>
                  <option value="" disabled>-- Select Extra Category --</option>
                  <% 
                    const currentExtraId = product && product.ExtraCategory
                      ? (product.ExtraCategory._id ? product.ExtraCategory._id.toString() : product.ExtraCategory.toString())
                      : '';
                    Extracategories.forEach(extra => {
                      const extraId = extra._id ? extra._id.toString() : (extra.id ? extra.id.toString() : '');
                      // if ExtraCategory belongs to a subcategory you can include data-subcategory attribute:
                      const extraSubId = extra.Subcategory && (extra.Subcategory._id ? extra.Subcategory._id.toString() : extra.Subcategory.toString());
                  %>
                    <option value="<%= extraId %>" data-subcategory="<%= extraSubId || '' %>" <%= extraId === currentExtraId ? 'selected' : '' %>><%= extra.name %></option>
                  <% }) %>
                </select>
              </div>
              <button class="form-submit-btn w-100" type="submit">Submit</button>
            </form>
          </div>
        </div>
        <!-- editor -->

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <%- include('../partials/footer') %>